<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Admin page</title>

</head>
<body>

<div class="container">
  <h1>Hello, this is the admin page!</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
      <td th:text="${person.getId()}">Id</td>
      <td th:text="${person.getUsername()}">Username</td>
      <td th:text="${person.getEmail()}">Email</td>
      <td th:text="${person.getYearOfBirth()}">yearOfBirth</td>
      <td>
        <ul>
          <li th:each="role : ${person.roles}" th:text="${role.roleName}">Role</li>
        </ul>
      </td>
      <td>
        <a th:href="@{/admin/edit(id=${person.getId()})}" th:text="Редактировать" class="btn_green">Редактировать</a>
      </td>
      <td>
        <form th:method="POST" th:action="@{/admin/delete(id=${person.getId()})}">
          <input type="submit" value="Удалить" class="btn_red"/>
        </form>
      </td>
    </tr>
    </tbody>

  </table>
  <div class="btn-container">

    <br/>
    <a th:href="@{/admin/registration}" class="btn">Создать аккаунт</a>
    <br/>
    <div class="btn-container">
      <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход из системы" class="btn">
      </form>
    </div>
  </div>
</div>

</body>
</html>