<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration</title>

</head>

<body>
<div class="container">
    <h1 class="f-heading">Создать нового пользователя</h1>
    <form th:method="POST" th:action="@{/admin/registration}" th:object="${person}">

        <div class="polya">
            <div class="col text-center">
                <label for="username">Введите имя пользователя: </label>
                <input type="text" th:field="*{username}" id="username" placeholder="Username" required autofocus>
                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
                <br/>
                <label for="email">Введите email пользователя: </label>
                <input type="email" th:field="*{email}" id="email" placeholder="Email" required autofocus>
                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
                <br/>
                <label for="yearOfBirth">Введите год рождения пользователя: </label>
                <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth" placeholder="year of birth" required autofocus>
                <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth Error</div>
                <br/>
                <label for="password">Введите пароль: </label>
                <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>

                <div class="col text-center">
                    <label for="role">Роль: </label>
                    <label th:each="role : ${person.roles}" th:text="${role}"></label>
                    <select th:field="*{roles}" id="role" class="select-style" multiple>
                        <option th:each="role : ${roles}"
                                th:value="${role.id}"
                                th:text="${role.roleName}">Choose role</option>
                    </select>
                    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">roles Error</div>
                </div>

                <br/>
                <input type="submit" value="Зарегистрироваться" class="btn"/>
                <br/>

                <hr/>

                <br/>
                <a href="/admin/login" class="btn">Войти в аккаунт</a>
                <br/>
            </div>
        </div>


    </form>
    <div class="col text-center">
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход из системы" class="btn"/>
    </form>
    </div>
</div>
</body>
</html>