<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit User</title>

</head>
<body>
<div class="col text-center">
    <h1 class="f-heading">Редактирование пользователя</h1>
</div>
    <form th:method="POST" th:action="@{/admin/update(id=${person.getId()})}" th:object="${person}">
        <div class="col text-center">
            <label for="userName">Имя пользователя: </label>
            <input type="text" id="userName" th:field="*{username}" placeholder="Username" required>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">userName Error</div>
        </div>

        <div class="col text-center">
            <label for="role">Роль: </label>
            <label th:each="role : ${person.roles}" th:text="${role}"></label>
            <select th:field="*{roles}" id="role" class="select-style" multiple>
                <option th:each="role : ${roles}"
                        th:value="${role.id}"
                        th:text="${role.roleName}">Choose role</option>
            </select>
        </div>

        <div class="col text-center">
            <input type="hidden" th:field="*{password}">
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>

        <br/>
        <div class="col text-center">
            <input type="submit" value="Обновление пользователя" class="btn"/>
        </div>

        <div class="col text-center">
            <br/>
            <a th:href="@{/admin}" class="btn">Вернуться на страницу администратора</a>
        </div>
    </form>

</body>
</html>