<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Spring Security Example</title>

</head>
<body>

<div class="container">
  <h1><span th:text="${person.username}">User</span>, Добро пожаловать на Вашу персональную страницу!</h1>

  <div>
    <p><strong>ID:</strong> <span th:text="${person.id}"></span></p>
    <p><strong>Username:</strong> <span th:text="${person.username}"></span></p>
    <p><strong>Role:</strong> <span th:each="role : ${person.roles}" th:text="${role + ' '}"></span></p>
  </div>

  <div class="btn-container">
    <form th:action="@{/logout}" th:method="POST">
      <input type="submit" value="Выход из системы" class="btn">
    </form>
    <br/>
  </div>
  <div th:if="${isAdmin}" class="btn-container">
    <a th:href="@{/admin}" class="btn">Вернуться на страницу администратора</a>
  </div>
</div>


</body>
</html>